.article_main {
    .container {
        background: $transparent;
    }
    .article_wrapper {
        background: $white none repeat scroll 0 0;
        margin-bottom: 100px;
        border:1px solid $border-color;
        overflow: hidden;
        &.news__no_image {
            .news__slides, .social_top_connect {
                display: none;
            }
            .social_connect_top_section {
                border-bottom: 1px solid $border-color;
            }
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .section-header {
            @include padding(0 30px 20px 30px);

            h1 {
                font-size: ($baseFontSize * 3) - 6;
                line-height: 1.5;
                @include phone {
                    font-size: ($baseFontSize * 2) - 4;
                }
                @include tablet {
                    font-size: ($baseFontSize * 2) + 0;
                }
            }
            .head-caption {
                margin-bottom: 20px;
                line-height: 40px;
                @media #{$media-iPhoneMedium}, #{$media-phone} {
                    line-height: 1.2;
                    text-align: center;
                }
                .card__avatar {
                    background-image: url("../images/data/avatar-08.jpg");
                    background-size: 40px auto;
                    @include border-radius(50%);
                    float: left;
                    height: 40px;
                    margin-right: 14px;
                    position: relative;
                    width: 40px;
                    @media #{$media-iPhoneMedium}, #{$media-phone} {
                        float: none;
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 8px;
                    }
                }
                .divider {
                    position: relative;
                    &:before {
                        content:"|";
                        margin-left: 5px;
                        margin-right: 10px;
                        @media #{$media-iPhoneMedium}, #{$media-phone} {
                            display: none;
                        }
                    }
                    @media #{$media-iPhoneMedium}, #{$media-phone} {
                        display: block;
                    }
                }
            }
        }
        .article-content-section {
            background: $white none repeat scroll 0 0;
            border-right:1px $border-color solid;
            overflow: hidden;
            @media #{$media-ipadPortrait} {
                border-right:none;
            }
            .content-area {
                @include padding(30px 70px 0);
                @media #{$media-ipadPortrait} {
                    @include padding(30px 30px 0);
                }
                @include phone {
                    @include padding(30px 10px 0);
                }
                h1, h2, h3, h4, h5, h6, p, ul, ol, figure, section, article, aside, div, span, blockquote {
                    text-transform: none !important;
                    line-height: 1.4 !important;
                    margin-bottom: 20px !important;
                    margin-top: 0px !important;
                    /*color: $black !important;*/
                    font-weight: 600 !important;
                    font-family: $base-font-family;
                    font-size: ($baseFontSize * 1) + 2 !important;
                    word-wrap: break-word;
                }
                p {
                    span, div {
                        margin-bottom: 0px;
                        + span, + div {
                            margin-top: 20px;
                        }
                    }
                }
                img {
                    max-width: 100% !important;
                    height: auto !important;
                }
                figure {
                    width: 100%;
                    position: relative;
                    img {
                        width: 100%;
                    }
                    figcaption {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        background: rgba($black,0.7);
                        color: $white;
                        @include padding(15px 25px);
                        font-weight: 400 !important;
                    }
                }
                h1 {
                    font-size: ($baseFontSize * 2) + 6 !important;
                    @include phone {
                        font-size: ($baseFontSize * 2) - 4 !important;
                    }
                    @include tablet {
                        font-size: ($baseFontSize * 2) + 0 !important;
                    }
                }
                h2 {
                    font-size: ($baseFontSize * 2) + 2 !important;
                    @include phone {
                        font-size: ($baseFontSize * 2) - 6 !important;
                    }
                    @include tablet {
                        font-size: ($baseFontSize * 2) - 4 !important;
                    }
                }
                h3 {
                    font-size: ($baseFontSize * 2) - 2 !important;
                    @include phone {
                        font-size: ($baseFontSize * 2) - 8 !important;
                    }
                    @include tablet {
                        font-size: ($baseFontSize * 2) - 6 !important;
                    }
                }
                h4 {
                    font-size: ($baseFontSize * 2) - 6 !important;
                    @include phone {
                        font-size: ($baseFontSize * 1) + 6 !important;
                    }
                    @include tablet {
                        font-size: ($baseFontSize * 2) - 8 !important;
                    }
                }
                h5 {
                    font-size: ($baseFontSize * 1) + 6 !important;
                    @include phone {
                        font-size: ($baseFontSize * 1) + 4 !important;
                    }
                    @include tablet {
                        font-size: ($baseFontSize * 1) + 4 !important;
                    }
                }
                h6 {
                    font-size: ($baseFontSize * 1) + 4 !important;
                    @include phone {
                        font-size: ($baseFontSize * 1) + 2 !important;
                    }
                    @include tablet {
                        font-size: ($baseFontSize * 1) + 2 !important;
                    }
                }
                p, blockquote {
                    font-size: ($baseFontSize * 1) + 2 !important;
                    font-weight: 400 !important;
                }
                ul, ol {
                    li {
                        margin-bottom: 15px;
                        font-size: ($baseFontSize * 1) + 2 !important;
                        font-weight: 400 !important;
                    }
                }

                .medium-insert-embeds, .medium-insert-images, .medium-insert-vimeo, .medium-insert-instagram {
                    margin-bottom: 20px;
                    figure {
                        margin:  0 auto;
                        position: relative;
                        @include phone {
                            max-width: calc(100% - 0px);
                        }
                        .medium-insert-embed, .medium-insert-vim, .medium-insert-insta {
                            div {
                                max-width: 100% !important;
                            }
                        }
                        figcaption {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            @include linear-gradient(rgba($black ,0) 0%, rgba($black, 1) 100%);
                            color: $white;
                            @include padding(15px 25px);
                        }
                    }
                }
                .medium-insert-twitter {
                    margin: 0 auto !important;
                    figure {
                        width: auto !important;
                        .twitter-tweet {
                            margin-left: auto !important;
                            margin-right: auto !important;
                        }
                        .medium-insert-tweet {
                            iframe {
                                width: 100% !important;
                            }
                        }
                    }
                }
                .medium-insert-images {
                    margin: 0 -70px 30px;
                    @media #{$media-ipadPortrait} {
                        margin: 0 -30px 30px;
                    }
                    figure {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
                .medium-insert-embeds {
                    figure {
                        figcaption {
                            position: relative;
                            margin-top: -21px !important;
                            margin-bottom: 20px !important;
                            background: rgba($black,0.7);
                        }
                    }
                }
            }
        }
    }
}

/* Begin added embeded style */
.article-content-section {
    .medium-insert-embeds, .medium-insert-facebook, .medium-insert-twitter, .medium-insert-instagram, .medium-insert-vimeo, .medium-insert-pinterest {
        margin:1em 0;
        text-align:center;
        position:relative;
        iframe {
            margin:0 auto !important;
        }
        div {
            margin:0 auto !important;
        }
        &.medium-insert-embeds-left, &.medium-insert-facebook-left, &.medium-insert-twitter-left, &.medium-insert-instagram-left, &.medium-insert-vimeo-left, &.medium-insert-pinterest-left {
            float:left;
            width:33.33%;
            margin:0 30px 20px 0;
        }
        &.medium-insert-embeds-right, &.medium-insert-facebook-right, &.medium-insert-twitter-right, &.medium-insert-instagram-right, &.medium-insert-vimeo-right, &.medium-insert-pinterest-right {
            width:33.33%;
            float:right;
            margin:0 0 20px 30px;
        }
        &.medium-insert-embeds-wide, &.medium-insert-facebook-wide, &.medium-insert-twitter-wide, &.medium-insert-instagram-wide, &.medium-insert-vimeo-wide, &.medium-insert-pinterest-wide {
            width:100%;
        }
    }
}
/* End added embeded style */
